<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue ToDoList</title>

        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <div id="root" class="container">
            
            <div class="add-new-todo">
                <input v-model="newTodo" type="text" name="todo-input" id="todo-input" placeholder="cosa vuoi dimenticare?" size="5">
                <button>Add</button>
            </div>


            <ul class="todo-list">
                <li v-for="(todo, index) in arrToDo" @click="todo.done = !todo.done"  class="todo-item">
                    <div class="todo-item-text" :class="todo.done ? 'todo-item-done' : ''">{{ todo.todoText }}</div>
                    <button @click="deleteTodo(index)" class="btn-delete-todo">X</button>
                </li>
            </ul>

        </div>


        



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
    </body>
</html>